<!doctype html>
<title>Accessibility in Practice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{{{css}}}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<header>
  <h1>Accessibility in Practice</h1>
  <nav role="nav">
    <ol id="toc">
      {{#each files}}
        <li>
          <a
            href="#{{id}}"
            title="{{textIntroduction}}"
            class="blue"
          >{{name}}</a></li>
      {{/each}}
    </ol>
  </nav>
</header>

<main role="main">
  {{#each files}}
    <article id="{{id}}">
      <h2 class="demo-header"><a class="blue header-link" href="#{{id}}">{{name}}</a></h2>
      <div class="introduction">{{{introduction}}}</div>

      <div class="demos incorrect-demos">
        {{#each incorrect}}
          <h3 id="{{id}}"><a class="red header-link" href="#{{id}}">Incorrect</a></h3>
          <div class="demo">
            <div>{{{code}}}</div>
            <pre class="code">{{code}}</pre>
            <h4 class="purple">Discussion</h4>
            <div>{{{discussion}}}</div>
          </div>
        {{/each}}
      </div>

      <div class="demos correct-demos">
        {{#each correct}}
          <h3 id="{{id}}"><a class="green header-link" href="#{{id}}">Correct</a></h3>
          <div class="demo">
            <div>{{{code}}}</div>
            <pre class="code">{{code}}</pre>
            <h4 class="purple">Discussion</h4>
            <div>{{{discussion}}}</div>
          </div>
        {{/each}}
      </div>

      {{#if resources}}
        <h3 id="{{id}}-resources">
          <a href="#{{id}}-resources" class="header-link orange">Additional Resources</a>
        </h3>
        <ul>
        {{#each resources}}
          <li>
            <a href="{{href}}">{{title}}</a> - {{description}}
          </li>
        {{/each}}
        </ul>
      {{/if}}

    </article>
  {{/each}}
</main>


